<h1>Edit your Listing!!!</h1>

<%= form_for :listing, url: listings_path  do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, value: @listing.title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, value: @listing.description %>
  </p>
  
  <p>
    <%= f.label :neighborhood %><br>
    <%= f.text_area :neighborhood, value: @listing.neighborhood %>
  </p>
  
  <p>
    <%= f.label :dateavailable_month %><br>
    <%= f.text_area :dateavailable_month, value: @listing.dateavailable_month %>
  </p>
  <p>
    <%= f.label :dateavailable_day %><br>
    <%= f.text_area :dateavailable_day, value: @listing.dateavailable_day %>
  </p>
  <p>
    <%= f.label :dateavailable_year %><br>
    <%= f.text_area :dateavailable_year, value:  @listing.dateavailable_year %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.text_area :price, value: @listing.price %>
  </p>

  <p>
    <%= f.label :numbedrooms %><br>
    <%= f.text_area :numbedrooms, value: @listing.numbedrooms %>
  </p>
  <p>
    <%= f.label :numbathrooms %><br>
    <%= f.text_area :numbathrooms, value: @listing.numbathrooms %>
  </p>
  <p>
    <%= f.label :photos %><br>
    <%= f.text_area :photos, value: @listing.photos %>
  </p>

 
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%=  %>



