<h1>View the Listing!!!</h1>

<%= @listing.title %>
<%= @listing.description %>
<%= @listing.neighborhood %>
<%= @listing.dateavailable_month %>
<%= @listing.dateavailable_day %>
<%= @listing.dateavailable_year %>
<%= @listing.numbedrooms %>
<%= @listing.numbathrooms %>
<%= @listing.price %>
<%= @listing.photos %>

