<h1>View the Listing!!!</h1>

<div><%= @listing.title %></div>
<div><%= @listing.description %></div>
<div><%= @listing.neighborhood %></div>
<div><%= @listing.dateavailable_month %></div>
<div><%= @listing.dateavailable_day %></div>
<div><%= @listing.dateavailable_year %></div>
<div><%= @listing.numbedrooms %></div>
<div><%= @listing.numbathrooms %></div>
<div><%= @listing.price %></div>
<div><%= @listing.photos %></div>

