<%= form_for @user do |f| %>
  <p class="frm-item">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <p class="frm-item">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <p class="frm-item">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <div class="frm-col2 frm-item">
    <label>birth month &amp; year</label>
    <div class="col">
      <%= f.text_field :birthday_month %>
    </div>
    <div class="col">
      <%= f.text_field :birthday_year %>
    </div>
  </div>
  <p class="frm-item">
    <%= f.label :gender, "gender preference" %>
    <%= f.text_field :gender %>
  </p>
  <p class="frm-item">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </p>
  <p class="frm-item">
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
  </p>
  <p class="frm-item">
    <%= f.label :interests,"little bit about yourself" %>
    <%= f.text_area :interests %>
  </p>
  <p class="frm-item align-center">
    <%= f.submit "Submit",:style => "display:none;",:id=>"btn_submit" %>
    <a href="javascript:document.getElementById('btn_submit').click();" class="button">Submit</a>
  </p>
<% end %>
