<div class="main-content">
  <div id="show-user">
    <div class="show-user-top">
      <%= image_tag(@user.photo)%>
      <div>
        <div><%= @user.first_name -%> <%= @user.last_name -%></div>
        <div>occupation <span class="green-value"><%= @user.occupation-%></span></div>
        <div>match grade <span class="green-value">A-</span></div>
      </div>
    </div>
    <div class="show-user-description">
      <div style="color:#A8A8A8;font-size:18px;margin-bottom:5px;">description</div>
      <div><%= @user.interests -%></div>
    </div>
    <div class="show-user-actions">
      <a href= ><span class="icon"><%= image_tag "phone@2x.png" %></span><span>give them a call</span></a>
      <a href= 'mailto: <%= @user.email  -%>'><span class="icon"><%= image_tag "mail@2x.png" %></span><span>send them an email</span></a>
      <a href= '' class='action-video'><span class="icon"><%= image_tag "video@2x.png" %></span><span>video chat on facebook</span><div class="coming-soon">coming soon</div></a>
      <a href= '' class='action-cancel'><span class="icon"><%= image_tag "cancel@2x.png" %></span><span>not interested</span></a>
    </div>
  </div>
</div>